/* styles.css */
@import "../node_modules/@angular/material/prebuilt-themes/azure-blue.css"; /* Default theme */

.client-a-theme {
  --header-color: blue;
  --background-color: white;
}

.client-b-theme {
  --header-color: green;
  --background-color: lightgray;
}

.client-c-theme {
  --header-color: red;
  --background-color: beige;
}

.header {
  background-color: var(--header-color);
  color: white;
}

.container {
  background-color: var(--background-color);
  min-height: 100vh;
  padding: 20px;
}
